@import '~compass-mixins/lib/compass/css3';
@import url(https://fonts.googleapis.com/css?family=Raleway);


* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body {
  font-family: Raleway, sans-serif;  
  background-color: #fff;
}

header {
  width: 100%;
  display: inline-block;
  height: 70px;
  background-color: #999;
  position: relative;
  bottom: 0;
  .copyright {
    width: 50%;
    float: left;
    @media (max-width: 600px) {
      width: 100%;
    }
    p {
      padding-left: 10%;
      color: white;
      font-size: 0.7em;
      line-height: 70px;
      text-transform: capitalize;
      letter-spacing: 1px;
      @media (max-width: 600px) {
        text-align: center;
        padding: 0;
      }
    }
  }
  .social {
      width: 50%;
      float: right;
    @media (max-width: 600px) {
      width: 100%;
    }
     a {
      float: left;
      line-height: 70px;
      text-decoration: none;
      color: white;
      text-align: center;
      font-weight: bold; 
      @include transition(all, 0.3s);
       &:hover {
         background-color: #222;
         @include transition(all, .3s);
       }
    }
  }
}

.home {
  background-color: rgb(69, 73, 72);
  font-size: 0.8em;
  width: 40%;
}

.policy {
  background-color: #998;
  font-size: 0.8em;
  width: 30%;
}

.support {
  background-color: #1E83AE;
  font-size: 0.8em;
  width: 30%;
}